
Exercícios Python mundo 2/mundo 2/.idea/modules.xml
Exercícios Python mundo 2/mundo 2/.idea/misc.xml
Exercícios Python mundo 2/mundo 2/.idea/inspectionProfiles/profiles_settings.xml
Exercícios Python mundo 2/mundo 2/.idea/Curso em vídeo.iml
Exercícios Python mundo 2/mundo 2/.idea/.name
